*{
    color: rgb(128, 128, 170);
    font-weight: bold;
    font-family: 'Playfair Display SC', serif;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
}
#r-head{
    margin: auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#r-head>h3{
    font-size: 3rem;
    text-transform: uppercase;
}
#r-head>h3>a{
    color:blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
}
#r-div{
    margin:auto;
    padding: 50px 0;
    max-width: 80vw;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#r-div-1, #r-div-2{
    padding:30px;
    display: flex;
    flex-flow: column nowrap;
    color: antiquewhite;
}
.r-data>h3{
    color:rgba(0, 0, 255, 0.8);
    text-transform: capitalize;
    letter-spacing: 1.5px;
    border-bottom: solid thin rgba(0,0,0,0.3);
    padding-bottom: 2px;
}
.r-data>div>ol>li{
    padding: 5px;
}

.flex-row-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul li{
    display: block;
    margin:8px;
}
.myBtn{
    margin:auto;
    background:blue;
    border: none;
    color:#fff;
    padding:10px 15px;
    text-transform: capitalize;
    font-size: 1rem;
  }
footer{
    background-color: #212322;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
}
footer>div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding:10px;
    color: blue;
}
footer div a{
    margin:10px;
    text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    html{
        font-size: 12px;
    }
    
    #r-head, #r-div{
        max-width: 90vw;
        margin: 5px;
    }
    #r-div{
        flex-flow: column nowrap;
    }
    #r-div-1, #r-div-2{
        padding:10px;
    }
    #r-div-1{
        margin: auto;
    }
    ul li{
        margin:5px;
    }
    img{
        width:38px;
    }
}