* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-flow: row nowrap;
}
.menu-wrap {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
}
#toggler {
	top: 2px;
	left: 2px;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 3;
	cursor: pointer;
	opacity: 0;
}
.hamburger {
	background: white;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 1rem 0;
	top: 2px;
	left: 2px;
	position: absolute;
	z-index: 2;
}
.hamburger > div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 20px;
	height: 1.5px;
	background: black;
	transition: all 400ms ease;
}
.hamburger > div::before,
.hamburger > div::after {
	content: "";
	background: inherit;
	width: 20px;
	height: 1.5px;
	top: -5px;
	position: absolute;
	z-index: 2;
}
.hamburger > div::after {
	top: 5px;
}
#toggler:checked + .hamburger > div {
	transform: rotate(135deg);
	background-color: black;
}
/* Turns Lines Into X */
#toggler:checked + .hamburger > div::before,
#toggler:checked + .hamburger > div::after {
	top: 0;
	transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
#toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
}
#menu {
	overflow-x: hidden;
	position: fixed;
	z-index: 1;
	width: 0;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	transition: all 0.4s ease;
	background-color: white;
}
.menu-items {
	cursor: pointer;
	background-color: none;
	color: #2d2d2d;
	white-space: nowrap;
	font-size: 0.9rem;
	text-transform: uppercase;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	padding: 16px 32px;
	margin: 10px 0;
	text-decoration: none;
}
.menu-list {
	margin-top: 100px;
}
.myBtn {
	outline: none;
	margin: 10px 0;
	background: none;
	border: solid thin #2d2d2d;
	color: #2d2d2d;
	padding: 10px 15px;
	text-transform: capitalize;
	font-weight: 350;
}
#main {
	transition: all 0.5s ease;
	overflow-x: hidden;
}
.landing-nav {
	background-color: #fff;
	position: sticky;
	z-index: 1;
	top: 0;
	left: 0;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 10px 15px 0px rgba(201, 201, 201, 0.4);
	-webkit-box-shadow: 1px 10px 15px 0px rgba(201, 201, 201, 0.4);
	-moz-box-shadow: 1px 10px 15px 0px rgba(201, 201, 201, 0.4);
}
.landing-nav > button {
	margin: 0 15px;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	color: #2d2d2d;
	text-transform: uppercase;
	font-weight: 350;
}
#timeline-toggler {
	background-color: blue;
	padding: 8px 15px;
	position: fixed;
	z-index: 1;
	top: 90px;
	right: 10px;
	color: #fff;
	border: none;
	outline: none;
}
#timeline {
	display: none;
	border: solid thin #e4e4e4;
	background-color: white;
	padding: 10px 15px;
	width: 300px;
	height: 400px;
	position: fixed;
	z-index: 1;
	top: 120px;
	right: 10px;
	overflow-y: auto;
	scroll-behavior: smooth;
}

#timeline > dl {
	padding: 10px 5px;
}
#timeline > dl > dt {
	font-weight: bold;
	padding: 5px 0;
	text-decoration: underline #aaa;
}
#timeline > dl > dd {
	font-weight: 350;
	color: #2d2d2d;
	margin-bottom: 10px;
}
.landing {
	position: relative;
	width: 100%;
	height: 100%;
	color: #2d2d2d;
	transition: all 0.3s linear;
	display: flex;
	flex-direction: column;
}
.landing > img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 50px;
	opacity: 0.15;
}
.landing > div {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: start;
	width: 100%;
	padding: 100px;
	text-align: left;
}

#hello-text {
	font-size: 3rem;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	white-space: wrap;
}
.blue-text-color {
	color: blue;
	font-family: "Montserrat", sans-serif;
	font-weight: 350;
}
.gray-text-color {
	color: #999;
	font-family: "Montserrat", sans-serif;
	font-weight: 350;
}

.landing > div > button {
	cursor: pointer;
	background-color: #2d2d2d;
	color: #fff;
	font-size: 0.9rem;
	font-weight: 350;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#about-div {
	margin: auto;
	width: 90%;
	padding: 100px 0;
	text-align: justify;
	color: #2d2d2d;
}
#about-div > h1,
h4 {
	color: #aaa;
	font-weight: 400;
	font-family: "Playfair Display SC", serif;
	line-height: 28px;
	text-transform: capitalize;
	width: 100%;
	padding: 15px 0;
}
#about-div > p {
	font-weight: 350;
	margin-top: 15px;
	line-height: 28px;
	font-size: 1.3rem;
}
#about-div > p > span {
	color: blue;
}
.footer {
	border-top: 1px solid #e4e4e4;
	transition: all 0.4s linear;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
}
.footer-contact {
	text-align: left;
	color: #2d2d2d;
	text-transform: uppercase;
	width: 100%;
	padding: 50px 4.6vw;
}
.footer-contact h1 {
	font-family: "Playfair Display SC", serif;
	padding: 10px 0;
}
.mail-footer {
	margin: 10px 0;
	background: blue;
	border: none;
	color: #fff;
	padding: 10px 15px;
	font-size: 12px;
}
.footer-links {
	display: flex;
	flex-flow: row nowrap;
}
.footer-links > div {
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 0 4.6vw;
}
.footer-links > div > a {
	color: #2d2d2d;
	text-transform: uppercase;
	font-size: 0.9rem;
	text-decoration: none;
	cursor: pointer;
	margin: 2px 5px;
}
.footer-work > a {
	background-color: #fff;
	border: none;
	border-radius: 5px;
}
.footer-work > a > img{
	width: 2rem;
	height: 2rem;
}
.footer-attribution {
	color: #fff;
	padding: 10px 0;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	html {
		font-size: 12px;
	}
	.landing {
		flex-flow: column nowrap;
	}
	blockquote {
		font-size: 3.5rem;
		padding: 20px;
		margin: 30px 0;
	}
	.landing > div {
		padding: 20px;
	}
	#hello-text {
		font-size: 1.5rem;
	}
	.footer {
		flex-flow: column nowrap;
	}
	.footer > div {
		width: 100%;
	}
	.footer-contact {
		padding: 20px;
	}
	.footer-links > div {
		padding: 5px;
	}
	.footer-work > a > img {
		width: 20px;
	}
}
