*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
body{
    width:100vw;
    height:100vh;
    display: flex;
    flex-flow: row nowrap
}
.menu-wrap{
    position: fixed;
    left:0;
    top:0;
    z-index:1;
}
  #toggler{
    top:2px;
    left:2px;
    width:30px;
    height:30px;
    position:absolute;
    z-index:2;
    cursor:pointer;
    opacity: 0; 
}
  .hamburger{
    background:#000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    padding:1rem 0;
    top:2px;
    left:2px;
    position: absolute;
    z-index:1;
}
  .hamburger>div{
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    width:20px;
    height:1.5px;
    background: #fff;
    transition: all 400ms ease;
  }
  .hamburger>div::before,
  .hamburger>div::after{
    content: '';
    background: inherit;
    width:20px;
    height:1.5px;
    top:-5px;
    position: absolute;
    z-index:1;
  }
  .hamburger>div::after{
    top:5px;
  }
  #toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background-color: #fff;
  }
  /* Turns Lines Into X */
  #toggler:checked + .hamburger > div::before,
  #toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  #toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
#menu{
  overflow-x: hidden;
  position: fixed;
  width:0;
  height:100%;
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.4s ease;
  background-color: rgba(153, 153, 153, 0.1);
}
.menu-items{
  background-color:none;
  color:#000;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding:16px 32px;
  margin:10px 0;
  text-decoration: none;
}
.menu-list{
  margin-top:100px;
}
.myBtn{
  margin:10px 0;
  background:none;
  border: solid 2px #e74315;
  color:#e74315;
  padding:10px 15px;
  text-transform: capitalize  ;
  font-size: 1rem;
  font-weight: bold;
}
#main{
  transition: all 0.5s ease;
}
.landing{
  color:#000;
  transition: all 0.3s linear;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
}
.landing>div{
  width:50%;
  padding:100px;
  text-align: left;
}
#hello-text{
  font-size:1.5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  white-space: wrap;
}
.hello-text-color{
  color:#e74315;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.landing>div>button{
  cursor: pointer;
}
.footer{
  background-color: #212322;
  transition: all 0.4s linear;
  width:100vw;
  display: flex;
  flex-flow: column nowrap;
}
.footer-contact{
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  width:100%;
  padding:50px 4.6vw;
}
.footer-contact h1{
  font-family: 'Playfair Display SC', serif;
  padding:10px 0;
}
.mail-footer{
  margin:10px 0;
  background:#e74315;
  border:none;
  color:#fff;
  padding:10px 15px;
  font-size: 12px;
}
.footer-links{
  display: flex;
  flex-flow: row nowrap;
  
}
.footer-links>div{
  width:50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding:0 4.6vw;
}
.footer-links>div>a{
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  margin:2px 5px;
}
.footer-work>a{
  background-color: #fff;
  border:none;
  border-radius: 2px;
}
.footer-attribution{
  color:#fff;
  padding:10px 0;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  html{
    font-size: 10px;
  }
  .landing{
    flex-flow: column nowrap;
  }
  .landing>div{
    width:100%;
    padding: 15px;
  }
  .landing>div>h1{
    font-size: 2rem;
  }
  .landing>div>p{
    margin:10px 0;
  }
  .footer{
    flex-flow: column nowrap;
  }
  .footer>div{
    width:100%;
  }
  .footer-contact{
    padding: 20px;
  }
  .footer-links>div{
    padding:5px;
  }
  .footer-work>a>img{
    width:20px;
  }
}
